body{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #dddbd1 20%, #d2dbdc 100%);
}
.my_wrapper{
    height: 100vh;
    width: 100vw;
}

.debug .container,
.debug .col-4,
.debug .col-8{
    border: 1px dashed;
    height: 1000px;
}